
html{
    margin: 0;
    padding: 0;
}

.principal{
    display: grid;
    grid-template-columns: 250px 1fr 1fr ;
    grid-template-rows: 60px 1fr  60px;
}

.header{
    grid-column: 1/-1;
    background-color: rgb(58, 58, 58);
}
.btn-a,.btn-s{
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
}
.btn-a:hover{
    background: #6db370 ;
}
.btn-s:hover{
    background: red;
}

#active{
    background: #6db370 ;
}
.sidebar{
    padding: 10px;
    background-color:#52a054 ;
    margin-top: 5px;

}
#logo{
    margin: 10px;
}
.contenido{
    grid-column: 2/-1;
    padding: 10px;
}
.footer{
    grid-column: 1/-1;
    text-align: center;
}

.contenido{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;

}
.card{
    padding: 5px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
}


